<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{95,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1,47},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{119,41},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{95,41},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{119,53},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{1,111},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{93,65},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{49,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1,65},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{47,47},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{47,91},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{23,111},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{19,47},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{37,47},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effects_star1.png</string>
            <key>size</key>
            <string>{134,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb47be9fdfed5b4906cde11aebdc47fa:472734de906ab475ca2555385ffd0d91:9b171f28d03803440302bcebd997203a$</string>
            <key>textureFileName</key>
            <string>effects_star1.png</string>
        </dict>
    </dict>
</plist>
